[Desktop Entry]
Name=Tkabber
Comment=Tk Jabber client
Comment[pl]=Klient Jabbera w Tk
Icon=tkabber
Exec=tkabber
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
# vi: encoding=utf-8
